/* Style for the headline */
.jumbotron h1 {
  margin-top: 20px; /* Add space above the headline */
}

/* Style for the images container */
.image-container {
  text-align: center; /* Center the images */
  margin-top: 20px; /* Add space between the headline and images */
}

.image-container img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

/* Style for the map */
#map {
    margin: 0 auto;
    display: block;
    width: 200%; /* Adjust the width as needed */
    height: 500px;
    margin-bottom: 20px;
}

/* Style for the dropdown menus */
#selDataset1,
#selDataset2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}