/* Style for the headline */
.jumbotron h1, .jumbotron h3 {
  margin-top: 10px; /* Add space above the headline */
}

.jumbotron p {
  font-size: 12px; 
}

/* Target the .jumbotron class within the first row */
.row:nth-child(1) .jumbotron,
.row:nth-child(2) .jumbotron {
  padding: 20px; /* Adjust the padding as needed */
}

/* Style for banner */
.banner-container {
  text-align: center;
}

.banner-container img {
  width: 65%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Style for the images container */
.image-container {
  text-align: center; /* Center the images */
  margin-top: 20px; /* Add space between the headline and images */
}

.image-container img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

/* Style for the dropdown menus */
/* #selDataset1,
#selDataset2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
} */

/* Style for the panel */
.panel {
  border: 1px solid #337ab7; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  margin-bottom: 20px; /* Add some margin */
}

.panel-heading {
  background-color: #337ab7; /* Set the background color for the heading */
  color: white; /* Set the text color for the heading */
  padding: 10px; /* Add padding */
}

.panel-body {
  padding: 15px; /* Add padding */
}

#containerSide {
  display: flex; /* Use flexbox layout */
}

#map {
  width: 75%; /* Take up 75% of the container's width */
  height: 450px;
}

#sidebar {
  width: 25%; /* Take up 25% of the container's width */
}

#markerList {
  /* Add styling for the marker list */
}


